{% extends "layout.html" %}
{% block content %}
<br><br>
        <div>
          <table class=table>
                <tr>
                        <td>Actifs</td>
                        <td>{{actifs}}</td>
                </tr>
                <tr>
                        <td>Candicats</td>
                        <td>{{candidats}}</td>
                </tr>
                <tr>
                        <td>Honoraires</td>
                        <td>{{honoraires}}</td>
                </tr>
                <tr>
                        <td>Anciens</td>
                        <td>{{anciens}}</td>
                </tr>
        </div>


{% endblock content %}